html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
body, h1, h2, h3, h4, h5, h6  {
  font-family: Helvetica, Arial, sans-serif;
}
body {  
    background-image: url('img/fondoLucky2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensajes{
    color: gray;
}
#valor_usd{
    width: 300px;
    text-align: center;
}
#calculadora{
    padding: 20px;
    border-style: solid;
    border-color: #ffcbd8;
    border-width: 4px; 
    border-radius: 20px;
    background-color: rgba(255, 252, 252, 0.336);
    max-width: 400px;
    width: 100%;
    text-align: center;
}
#link-carrd {
    color: #fd94ae;
}
/* #nombre-pagina{
    display: inline-block;
    color: gray;

    
}
.linea-arriba{
    text-decoration: overline;
} */